/* src/components/pages/MainPage/MainPage.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.topSalesSection,
.categoriesSection {
  margin-top: 40px;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}
