.catalogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.searchWrapper {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.categoriesWrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
}
