.searchForm {
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border: 1px solid #007BFF;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background: url('/public/img/search-icon.svg') no-repeat 12px center;
  background-size: 20px 20px;
  transition: box-shadow 0.3s ease;
}

.searchInput:focus {
  box-shadow: 0 0 8px #007BFF;
}
