.catalog {
  padding: 20px;
  max-width: 1200px; /* увеличил ширину, чтобы карточки имели больше пространства */
  margin: 0 auto;
}

.filters {
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center; /* отцентрировал карточки в контейнере */
}

.item {
  flex: 0 0 auto;
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  width: 100%;
}

.image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 12px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.title {
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.price {
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.orderButton {
  width: 90px;
  height: 40px;
  color: #007BFF;
  background-color: transparent;
  border: 2px solid #007BFF;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-self: flex-start;
}

.orderButton:hover {
  background-color: #007BFF;
  color: white;
}

@media (min-width: 1600px) {
  .item {
    width: 300px;
    padding: 16px;
  }

  .image {
    height: 350px;
    margin-bottom: 16px;
  }
}

.loadMore {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loadMore:hover {
  background-color: #0056b3;
}

.loadMore:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
